/** @format */

.container {
	position: relative;
	width: 255px;
	height: 550px;
	box-sizing: content-box;
	background-color: #6c9ee387;
	border: 4px solid #000000;
	box-shadow: 2px 2px 1px 3px transparent;
	/*	margin-block-end: 10px;
	*/
	/*#082585;*/
}
