/** @format */

.container {
	position: relative;
	width: 350px;
	height: 550px;
	box-sizing: border-box;
	background-color: #6c9ee387;
	border: 4px solid #000000;
	/*	margin-block-end: 10px;*/
	box-shadow: 2px 2px 1px 3px transparent; /*#082585;*/
}
